.button {
    display: inline-block;
    padding: 10px 32px;
    min-width: 200px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
    color: $title-text-color;
    background-color: $accent-color;
}
.modal-batton {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: $main-background-color;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;

    &:hover .close,
    &:focus .close {
        fill: $accent-color;
    }
}
.deal-button {
    @include flexbox(center, center);
    margin-top: 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.filters-button {
    @include for-size (mobile-only) {
        display: inline-flex;
        flex-wrap: wrap;
        margin-top: 60px;
        margin-bottom: 25px;
    }
    @include for-size (mobile) {
        display: inline-flex;
        flex-wrap: wrap;
        margin-top: 60px;
        margin-bottom: 25px;
    }
    @include for-size (tablet) {
        @include flexbox(center);
        margin-top: 60px;
        margin-bottom: 14px;
    }
    @include for-size (desktop) {
        @include flexbox(center);
        margin-top: 94px;
        margin-bottom: 34px;
    }
}
.filters-button__item {
    @include for-size (mobile-only) {
        margin-bottom: 15px;
    }
    @include for-size (mobile) {
        margin-bottom: 15px;
    }
    @include for-size (tablet) {
        margin-bottom: 0;
    }
    @include for-size (desktop) {
        margin-bottom: 0;
    }
}
.filters-button__item:not(:last-child) {
    margin-right: 8px;
}
.portfolio-button {
    display: inline-block;
    min-width: 73px;
    height: 38px;
    padding: 6px 22px;
    text-decoration: none;
    border-radius: 4px;
    border: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.03em;
    cursor: pointer;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
        color: $primary-text-color;
        background-color: $button-bg-color;
    
    &:hover,
    &:focus {
        color: $title-text-color;
        background-color: $accent-color;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 
            0px 1px 2px rgba(0, 0, 0, 0.08), 
            0px 2px 2px rgba(0, 0, 0, 0.12);
    } 
}