$primary-text-color: #212121;
$secondary-text-color: #757575;
$title-text-color: #FFFFFF;
$accent-color: #2196F3;
$logo-header-color: #000000;
$footer-contact-color: rgba(255, 255, 255, 0.6);
$button-bg-color: #F5F4FA;
$main-background-color: #FFFFFF;
$secondary-background-color: #2F303A;
$additional-background-color: #F5F4FA;
$baner-background-color: #C4C4C4;