.banner {
    @include for-size(mobile-only) {
        text-align: center;
        max-width: 480px;
        min-height: 400px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 60px;
        background-image: linear-gradient(
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
           ), 
           url(../images/mobile-banner.jpg);
       background-color: $baner-background-color;
       background-repeat: no-repeat;
       background-position: center;
       background-size: cover;    
    }
    @include for-size(mobile) {
        text-align: center;
        max-width: 480px;
        min-height: 400px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 60px;
        background-image: linear-gradient(
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
           ), 
           url(../images/mobile-banner.jpg);
       background-color: $baner-background-color;
       background-repeat: no-repeat;
       background-position: center;
       background-size: cover;    
    }

    @include for-size(tablet) {
        max-width: 768px;
        min-height: 400px;
        background-image: linear-gradient(
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
           ), 
           url(../images/tablet-banner.jpg);
    }
    @include for-size(desktop) {
        flex-direction: column;
        @include flexbox(center, center);
        max-width: 1600px;
        min-height: 600px;
        margin-bottom: 94px;
        background-image: linear-gradient(
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
           ), 
           url(../images/banner.jpg);
    }
}
.banner-headline {
    margin-top: 0;
    margin-bottom: 30px;
    padding-top: 118px;
    padding-left: 30px;
    padding-right: 30px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 26px;
    line-height: 42px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $title-text-color;

    @include for-size(desktop) {
        padding: 0;
        font-size: 44px;
        line-height: 60px;
    }
}