.banner {
    text-align: center;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    background-color: $baner-background-color;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
       ), 
       url(../images/banner/banner-mobile.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    @media screen and (min-device-pixel-ratio: 2),
        screen and (-webkit-min-device-pixel-ratio: 2),
        screen and (-o-min-device-pixel-ratio: 2/1),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
            url(../images/banner/banner-mobile@2x.jpg);
    }

    @media screen and (max-width: 767px) {
        margin-top: 60px;
    }
    
    @media screen and (min-width: 768px) {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
            url(../images/banner/banner-tablet.jpg);

        @media screen and (min-device-pixel-ratio: 2),
            screen and (-webkit-min-device-pixel-ratio: 2),
            screen and (-o-min-device-pixel-ratio: 2/1),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx) {
                background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
                url(../images/banner/banner-tablet@2x.jpg);
        }
    }

    @media screen and (min-width: 1200px) {
        @include flexbox(center, center);
        flex-direction: column;
        max-width: 1600px;
        height: 600px;
        margin-bottom: 94px;
        background-image: linear-gradient(rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
        url(../images/banner/banner.jpg);

        @media screen and (min-device-pixel-ratio: 2),
            screen and (-webkit-min-device-pixel-ratio: 2),
            screen and (-o-min-device-pixel-ratio: 2/1),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx) {
                background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
                url(../images/banner/banner@2x.jpg);
        }
    }
}
.banner-headline {
    margin-top: 0;
    margin-bottom: 30px;
    padding-top: 118px;
    padding-left: 30px;
    padding-right: 30px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 26px;
    line-height: 42px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $title-text-color;

    @media screen and (min-width: 1200px) {
        padding: 0;
        font-size: 44px;
        line-height: 60px;
    }
}