.section-team {
    padding-top: 60px;
    padding-bottom: 30px;
    background-color: $additional-background-color;
    
    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}
.section-heading {
    display: block;
    margin-top: 0;
    margin-bottom: 30px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    text-align: center;
    letter-spacing: 0.03em;
    color: $primary-text-color;

    @media screen and (min-width: 1200px) {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
        font-size: 36px;
        line-height: 42px;
    }
}
.team {
    &__name {
        margin-top: 0;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        letter-spacing: 0.03em;
        color: $primary-text-color;
    }
    &__position {
        margin: 0;
        margin-bottom: 16px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        letter-spacing: 0.03em;
        color: $secondary-text-color;
    }
    &__photo {
        margin-bottom: 30px;
    }   

    @media screen and (max-width: 768px) {
        &__card {
            margin-bottom: 30px;
        }
    }
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;

        &__card:not(:nth-child(2n)) {
            margin-right: 30px;
        }
    }
    @media screen and (min-width: 1200px) {
        display: flex;
        flex-wrap: wrap;
    
        &__card {
            margin-right: 30px;
            margin-bottom: 0;
        }
        &__card:nth-child(4n) {
            margin-right: 0;
        }
    }
}
.bg-card {
    background-color: $main-background-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    @media screen and (max-width: 768px) {
        width: 100%;
        height: 100%;
    }
    @media screen and (min-width: 768px) {
        width: 354px;
        height: 536px;
    }
    @media screen and (min-width: 1200px) {
        width: 270px;
        height: 428px;
    }
}